<h1>New post</h1>

<!-- @post is from the posts_controller's new action -->
<%= simple_form_for @post do |f| %>

  <%= f.input :title %>
  <%= f.input :body %>
  <%= f.input :image %>
  
  <%= f.button :submit %>

<% end %>